<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Welcome to Sidney's Website. It is still under construction.">
	<title>Sidney's Website | DOCUMENT TITLE HERE</title>
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="../css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>	
	<a href="../">
		<h1 class="logo">Sidney's Website</h1>
	</a>
	<ul class="navbar">
		<li>
			<a href="../" title="Home">Home</a>
		</li>
		<li>
			<a href="../about" title="About">About</a>
		</li>
		<li>
			<a href="../experimental" title="Experimental">Experimental Page</a>
		</li>
		<li>
			<a href="/randomiser" title="Randomiser">List Randomiser</a>
		</li>
		<li>
			<a href="../chat" title="Chat">Chat</a>
		</li>
			<a href="../other" title="Other">Other Stuff</a>
		</li>
	</ul>
	


	<footer>
		<p>Sidney's Website</p>
	</footer>	
		
</body>
</html>
